@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Rory is skilled at<a style="color:goldenrod;"href="https://www.stclaircollege.ca/">building Web apps with ASP.NET Core</a>.</p>
    <img src="gradpicanima.gif" alt="handsome" width="75%" height="auto" />
</div>
